body{
    min-width: 1730px;
    display:flex;
    flex-direction: column;
    margin:0;

}

/* The top section of the page*/
.top-container{
    background-color: purple;
    max-height: 600px;
    display:flex;
    flex-direction: column;
    flex: 1 1 0;
}

/* contain the logo and the links */
.header{
    display:flex;
    justify-content:space-around;
    gap: 600px;
    flex:1;

}

.header .text{
    display: flex;
    color:#363636;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 30px;
}

.logo{
    display:flex;
}

.header img{
    width: 100px;
    margin-left: 350px;
}

ul{
    list-style-type: none ;
    padding:0;   
    margin-top:15px;
    margin-right: 395px;
    display:flex;
    gap: 30px;

}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;

}

a:hover{
    color: wheat;
}

/* contain the front text and image and the signup button */
.front-content{
    display:flex;
    justify-content: space-around;
    flex:1;
    gap: 200px;
}


.front-content img{
    width: 500px;
    margin-right: 270px;
    margin-top: -70px;
    display:flex;
    flex:0 1 auto;
}
.text-container{
    width: 500px;
    height:300px;
    margin-left:350px;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    gap:5px;
}

.description{
    color:greenyellow;
    font-size: 65px;
    font-weight:bolder;
    display:flex;
    flex:0 1 auto;

}

.text-container .text{
    color:white;
    font-size: 20px;
    max-height: 0;
    display: flex;

}

.front-content button{
    background-color:#3882F6;
    color: white;
    width:150px;
    border:none;
    text-decoration: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 9px black;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
}

.front-content button:hover{
    background-color: lightskyblue;
}
.front-content button:active{
    background-color: #3882F6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.char-container{
    max-height: 600px;
    display: flex;
    justify-content: space-between;
}

.char-container .side-img{
    width:300px;    
}

.head{
    display: flex;
    margin-right: 100px;
    justify-content: center;
    align-self: center;
    font-size: 40px;
    font-weight: bold;
}

.characters{
    background-color: #270E42;
    color: white;
    max-width: 1300px;
    max-height: 600px;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    gap: 80px;
    flex:0 1 auto;
    justify-content: center;
    align-self: center;
}


.content{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
}

.content img{
    width:150px;
    height: 150px;

}



.quote-content{
    height: 200px;
    background-color: #084605;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.hype{
    height: 200px;
    display:flex;
}

.hype-content{
    display: flex;
}

.footer{
    background-color: lightgreen;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}