body{
    min-width: 1730px;
    display:flex;
    flex-direction: column;
    margin:0;

}

/* The top section of the page*/
.top-container{
    background-color: #270E42;
    max-height: 600px;
    display:flex;
    flex-direction: column;
    flex: 0 1 auto;
}

/* contain the logo and the links */
.header{
    height: 50px;
    background-color: #829356;
    display:flex;
    justify-content:space-around;
    gap: 600px;
    flex:0 1 auto;

}

/* Contain the logo image and name */
.logo{
    display:flex;
    flex:1;
}

/* The page name */
.logo .text1,.text2,.text3,.text4,.text5,.text6{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    margin: 5px;
}

.text1,.text4{
    color: #6A0F18;
}

.text2,.text5{
    color: #FF9821;
}

.text3,.text6{
    color:#244D4F;
}

/* The logo image */
.header img{
    min-height: 150px;
    width: 100px;
    margin-left: 350px;
}

/* The page options */
ul{
    list-style-type: none ;
    padding:0;   
    margin-top:15px;
    margin-right: 480px;
    display:flex;
    gap: 30px;

}

a{
    color: white;
    width: 70px;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex: 0 0 auto;

}

a:hover{
    color: wheat;
}




/* contain the front text and image and the signup button */
.front-content{
    display:flex;
    align-items: flex-end;
    flex:0 1 auto;
    gap: 200px;
}

/* The header image */
.front-content img{
    width: 500px;
}

/* Contain the front text of the page */
.text-container{
    width: 500px;
    height:300px;
    margin-left:350px;
    display:flex;
    flex-direction: column;
    gap:5px;
}

/* The header text */
.description{
    color:greenyellow;
    font-size: 65px;
    font-weight:bolder;
    display:flex;
    flex:0 1 auto;

}

.text-container .text{
    color:white;
    font-size: 20px;
    max-height: 0;
    display: flex;

}

.front-content button{
    background-color:#3882F6;
    color: white;
    width:150px;
    border:none;
    text-decoration: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 9px black;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
}

.front-content button:hover{
    background-color: lightskyblue;
}
.front-content button:active{
    background-color: #3882F6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}





/* Mid container that had info */
.char-container{
    height: 500px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

/* The side image in the page */
.char-container .side-img{
    width:300px; 
}

/* The description of the text */
.head{
    width: 400px;
    color: #37474F;
    display: flex;
    align-self: center;
    font-size: 70px;
    font-weight: bold;
}

/* The long text on the mid of the page */
.content{
    width: 1000px;
    height: 300px;
    gap:10px;
    padding: 20px;
    margin-right: 150px;
    background-color: #C2571A;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex:0 0 auto;
}

/* The head of the story */
.history-header{
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.history{
    color:white;
    font-size:18px;
    line-height: 1.4;
}

.author{
    display:flex;
    align-self: end;
}

.author a{
    width: 160px;
    color: #263238;

    font-size: 15px;
    font-weight: bold;
}

a:hover{
    color:#90A4AE;
}




/* The quote style  */
.quote-content{
    height: 400px;
    background-color: #829356;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px
}

.qoute{
    color: white;
    font-size: 30px;
}
.qoute-inf{
    color:#263238;
    font-size: 18px;
    font-weight: bold;
    display:flex;
    align-self: end;
    margin-right: 550px;

}



.hype{
    height: 300px;
    display:flex;
}

.hype-content{
    display: flex;
}

.footer{
    background-color: lightgreen;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}